In [19]:
import pandas as pd
import numpy as np
from textblob import TextBlob
from textblob.sentiments import PatternAnalyzer

In [20]:
BH_tweets_during_pandemic = pd.read_csv('dane/BH_tweets_during_pandemic.csv', lineterminator='\n')

In [21]:
BH_tweets_during_pandemic.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,5.312600e+04,5.312600e+04,53126.0,5.312600e+04,53126.000000,53126.000000,53126.000000,53126.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.276087e+18,1.275843e+18,200.0,3.380853e+17,0.328144,1.009920,3.967662,0.284795,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.906397e+16,2.146042e+16,0.0,4.914684e+17,2.849969,13.557646,49.877879,0.451321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.245139e+18,3.964446e+17,200.0,3.240000e+02,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,1.257229e+18,1.257201e+18,200.0,5.276126e+07,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.275123e+18,1.275072e+18,200.0,8.048991e+08,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.293577e+18,1.293541e+18,200.0,8.576936e+17,0.000000,0.000000,1.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.311455e+18,1.311455e+18,200.0,1.310660e+18,189.000000,1050.000000,4177.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
BH_tweets_during_pandemic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53126 entries, 0 to 53125
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               53126 non-null  int64
 1   conversation_id  53126 non-null  int64
 2   created_at       53126 non-null  object
 3   date             53126 non-null  object
 4   time             53126 non-null  object
 5   timezone         53126 non-null  int64
 6   user_id          53126 non-null  int64
 7   username         53126 non-null  object
 8   name             53124 non-null  object
 9   place            291 non-null    object
 10  tweet            53126 non-null  object
 11  language         53126 non-null  object
 12  mentions         53126 non-null  object
 13  urls             53126 non-null  object
 14  photos           53126 non-null  object
 15  replies_count    53126 non-null  int64
 16  retweets_count   53126 non-null  int64
 17  likes_count      53126 non-null  int64
 18  hashtags         53126 non-null  object
 19  cashtags         53126 non-null  object
 20  link             53126 non-null  object
 21  retweet          53126 non-null  bool
 22  quote_url        1361 non-null   object
 23  video            53126 non-null  int64
 24  thumbnail        15130 non-null  object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         53126 non-null  object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 14.2+ MB

In [23]:
BH_tweets_during_pandemic.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1311454882008891393,1311454882008891393,2020-10-01 01:56:24 CEST,2020-10-01,01:56:24,200,1262819762662301696,sells_san,SueSellsSanDiego,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1311452515465154560,1311452515465154560,2020-10-01 01:46:59 CEST,2020-10-01,01:46:59,200,391094006,manueldonnay,Manuel Donnay,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1311451801011531776,1311451801011531776,2020-10-01 01:44:09 CEST,2020-10-01,01:44:09,200,485907955,wmwpres,Dave (WildMan) Weber,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1311451427559157762,1311451427559157762,2020-10-01 01:42:40 CEST,2020-10-01,01:42:40,200,332364947,simonsalhanyre,BHHS Simon & Salhany,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1311450245226692609,1311450245226692609,2020-10-01 01:37:58 CEST,2020-10-01,01:37:58,200,221858096,yourchgorealtor,Carla Walker,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [24]:
#Add date format
BH_tweets_during_pandemic['date'] = pd.to_datetime(BH_tweets_during_pandemic['date'], format = '%Y-%m-%d')

In [25]:
#Remove tweets writeen in other language than english
BH_tweets_during_pandemic_clean = BH_tweets_during_pandemic[BH_tweets_during_pandemic.language == 'en']
BH_tweets_during_pandemic_clean = BH_tweets_during_pandemic_clean.reset_index(drop=True)
BH_tweets_during_pandemic_clean.shape

(48142, 36)

In [26]:
#Remove columns without any data
BH_tweets_during_pandemic_clean = BH_tweets_during_pandemic_clean.dropna(thresh = 1, axis = 1)

In [27]:
#4984 records and 10 columns were removed
BH_tweets_during_pandemic_clean.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video
count,4.814200e+04,4.814200e+04,48142.0,4.814200e+04,48142.000000,48142.000000,48142.000000,48142.000000
mean,1.276143e+18,1.275880e+18,200.0,3.305308e+17,0.310644,0.955424,3.642474,0.292094
std,1.908656e+16,2.170984e+16,0.0,4.867715e+17,2.923128,13.897623,50.753386,0.454730
min,1.245139e+18,3.964446e+17,200.0,3.240000e+02,0.000000,0.000000,0.000000,0.000000
25%,1.257275e+18,1.257248e+18,200.0,5.276126e+07,0.000000,0.000000,0.000000,0.000000
50%,1.275228e+18,1.275153e+18,200.0,6.321196e+08,0.000000,0.000000,0.000000,0.000000
75%,1.293518e+18,1.293373e+18,200.0,8.348012e+17,0.000000,0.000000,0.000000,1.000000
max,1.311455e+18,1.311455e+18,200.0,1.310537e+18,189.000000,1050.000000,4177.000000,1.000000

In [28]:
BH_tweets_during_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48142 entries, 0 to 48141
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               48142 non-null  int64
 1   conversation_id  48142 non-null  int64
 2   created_at       48142 non-null  object
 3   date             48142 non-null  datetime64[ns]
 4   time             48142 non-null  object
 5   timezone         48142 non-null  int64
 6   user_id          48142 non-null  int64
 7   username         48142 non-null  object
 8   name             48140 non-null  object
 9   place            277 non-null    object
 10  tweet            48142 non-null  object
 11  language         48142 non-null  object
 12  mentions         48142 non-null  object
 13  urls             48142 non-null  object
 14  photos           48142 non-null  object
 15  replies_count    48142 non-null  int64
 16  retweets_count   48142 non-null  int64
 17  likes_count      48142 non-null  int64
 18  hashtags         48142 non-null  object
 19  cashtags         48142 non-null  object
 20  link             48142 non-null  object
 21  retweet          48142 non-null  bool
 22  quote_url        1096 non-null   object
 23  video            48142 non-null  int64
 24  thumbnail        14062 non-null  object
 25  reply_to         48142 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(8), object(16)
memory usage: 9.2+ MB

In [29]:
BH_tweets_during_pandemic_clean.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,reply_to
0,1311454882008891393,1311454882008891393,2020-10-01 01:56:24 CEST,2020-10-01,01:56:24,200,1262819762662301696,sells_san,SueSellsSanDiego,NaN,...,0,0,[],[],https://twitter.com/sells_san/status/131145488...,False,NaN,1,https://pbs.twimg.com/media/EjM5Q70WoAIu3Xz.png,[]
1,1311452515465154560,1311452515465154560,2020-10-01 01:46:59 CEST,2020-10-01,01:46:59,200,391094006,manueldonnay,Manuel Donnay,NaN,...,0,1,"['realestatesales', 'realestateagent', 'arizon...",[],https://twitter.com/ManuelDonnay/status/131145...,False,NaN,0,NaN,[]
2,1311451801011531776,1311451801011531776,2020-10-01 01:44:09 CEST,2020-10-01,01:44:09,200,485907955,wmwpres,Dave (WildMan) Weber,NaN,...,0,0,[],[],https://twitter.com/wmwpres/status/13114518010...,False,NaN,0,NaN,[]
3,1311451427559157762,1311451427559157762,2020-10-01 01:42:40 CEST,2020-10-01,01:42:40,200,332364947,simonsalhanyre,BHHS Simon & Salhany,NaN,...,0,0,"['listing', 'akron', 'oh', 'realestate', 'real...",[],https://twitter.com/SimonSalhanyRE/status/1311...,False,NaN,1,https://pbs.twimg.com/media/EjM2H3cWAAAT3BT.jpg,[]
4,1311450245226692609,1311450245226692609,2020-10-01 01:37:58 CEST,2020-10-01,01:37:58,200,221858096,yourchgorealtor,Carla Walker,NaN,...,0,0,"['chicagorealtors', 'chicagorealestate', 'love...",[],https://twitter.com/YourChgoRealtor/status/131...,False,NaN,1,https://pbs.twimg.com/ext_tw_video_thumb/13114...,[]

In [30]:
#Check values of column place
BH_tweets_during_pandemic_clean['place'].value_counts()

{'type': 'Point', 'coordinates': [44.6981658, -93.2177749]}      60
{'type': 'Point', 'coordinates': [30.32487, -81.39882]}          14
{'type': 'Point', 'coordinates': [41.25877517, -96.19294167]}    10
{'type': 'Point', 'coordinates': [36.1675, -115.149]}             4
{'type': 'Point', 'coordinates': [41.883222, -87.632496]}         4
                                                                 ..
{'type': 'Point', 'coordinates': [40.1408, -82.9259776]}          1
{'type': 'Point', 'coordinates': [43.4551255, -83.9496799]}       1
{'type': 'Point', 'coordinates': [41.25935916, -96.19266428]}     1
{'type': 'Point', 'coordinates': [42.27398, -88.99915]}           1
{'type': 'Point', 'coordinates': [35.17622, -101.9361]}           1
Name: place, Length: 148, dtype: int64

In [31]:
#Check values of column quote_url
BH_tweets_during_pandemic_clean['quote_url'].value_counts()

0                                                                35
https://twitter.com/trengriffin/status/1256687728743202819       12
https://twitter.com/CNBCnow/status/1246193229546033152            9
https://twitter.com/CNBCnow/status/1256719898505601024            7
https://twitter.com/CNBC/status/1279852881403936769               6
                                                                 ..
https://twitter.com/laughridge/status/1282605728226783234         1
https://twitter.com/ChrisBHaynes/status/1260649585766092800       1
https://twitter.com/TheGoldAdvisor/status/1294375643136720896     1
https://twitter.com/nationalpost/status/1282649835095678976       1
https://twitter.com/ebbyhalliday/status/1296167569313980416       1
Name: quote_url, Length: 958, dtype: int64

In [32]:
#Counted quantity of links for each tweet
BH_tweets_during_pandemic_clean['quote_url'] = BH_tweets_during_pandemic_clean['quote_url'].str.count('https://')

#Replayce NaN by 0
BH_tweets_during_pandemic_clean.fillna({'quote_url':0}, inplace=True)

#Changed data type from float64 to int64
BH_tweets_during_pandemic_clean['quote_url'] = BH_tweets_during_pandemic_clean['quote_url'].astype(np.int64)

In [33]:
#Replayce NaN to [] in thumbnail column
BH_tweets_during_pandemic_clean.fillna({'thumbnail':'[]'}, inplace=True)

In [35]:
#There is no NaN except column place which will be removed due to low importance
BH_tweets_during_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48142 entries, 0 to 48141
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               48142 non-null  int64
 1   conversation_id  48142 non-null  int64
 2   created_at       48142 non-null  object
 3   date             48142 non-null  datetime64[ns]
 4   time             48142 non-null  object
 5   timezone         48142 non-null  int64
 6   user_id          48142 non-null  int64
 7   username         48142 non-null  object
 8   name             48140 non-null  object
 9   place            277 non-null    object
 10  tweet            48142 non-null  object
 11  language         48142 non-null  object
 12  mentions         48142 non-null  object
 13  urls             48142 non-null  object
 14  photos           48142 non-null  object
 15  replies_count    48142 non-null  int64
 16  retweets_count   48142 non-null  int64
 17  likes_count      48142 non-null  int64
 18  hashtags         48142 non-null  object
 19  cashtags         48142 non-null  object
 20  link             48142 non-null  object
 21  retweet          48142 non-null  bool
 22  quote_url        48142 non-null  int64
 23  video            48142 non-null  int64
 24  thumbnail        48142 non-null  object
 25  reply_to         48142 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(9), object(15)
memory usage: 9.2+ MB

In [36]:
#Check duplicates
BH_tweets_during_pandemic_clean[BH_tweets_during_pandemic_clean.duplicated(subset = 'id')]

Empty DataFrame
Columns: [id, conversation_id, created_at, date, time, timezone, user_id, username, name, place, tweet, language, mentions, urls, photos, replies_count, retweets_count, likes_count, hashtags, cashtags, link, retweet, quote_url, video, thumbnail, reply_to]
Index: []

[0 rows x 26 columns]

In [37]:
#Column retweet consist of only False values
BH_tweets_during_pandemic_clean['retweet'].value_counts()

False    48142
Name: retweet, dtype: int64

In [38]:
#Removed irrelevant columns
BH_tweets_during_pandemic_clean = BH_tweets_during_pandemic_clean.drop(['conversation_id', 
                                                                        'created_at', 'time', 'timezone', 
                                                                        'language', 'retweet', 'link','place'], 
                                                                       axis = 1)

In [39]:
#Counted number of elements stored as lists in columns
columns_lists = ['mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'thumbnail']
for column in columns_lists:
    empty_list = BH_tweets_during_pandemic_clean[column] == '[]'
    BH_tweets_during_pandemic_clean[column] = BH_tweets_during_pandemic_clean[column].str[1:-1].str.split(',')
    BH_tweets_during_pandemic_clean[column] = BH_tweets_during_pandemic_clean[column].str.len()
    BH_tweets_during_pandemic_clean.loc[empty_list, column] = 0

In [40]:
#Counted number of elements in dictionaries stored in reply_to column
BH_tweets_during_pandemic_clean['reply_to'] = BH_tweets_during_pandemic_clean['reply_to'].str.count('{')

#Changed data type from float64 to int64
BH_tweets_during_pandemic_clean['reply_to'] = BH_tweets_during_pandemic_clean['reply_to'].astype(np.int64)

In [46]:
#There are 2 name missing
BH_tweets_during_pandemic_clean[BH_tweets_during_pandemic_clean['name'].isnull()]

,id,date,user_id,username,name,tweet,mentions,urls,photos,replies_count,retweets_count,likes_count,hashtags,cashtags,quote_url,video,thumbnail,reply_to
29419,1266058798394793985,2020-05-28,2259884294,stocks_bot,NaN,Why hedge-fund manager Bill Ackman says he dum...,0,1,0,0,0,0,0,0,0,0,0,0
36897,1256981981075632128,2020-05-03,2259884294,stocks_bot,NaN,"How Warren Buffett's 'mistake,' Berkshire Hath...",0,1,0,0,0,0,0,0,0,0,0,0

In [49]:
#Replayce missing names by unknown
BH_tweets_during_pandemic_clean.fillna({'name':'unknown'}, inplace=True)

In [50]:
BH_tweets_during_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48142 entries, 0 to 48141
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              48142 non-null  int64
 1   date            48142 non-null  datetime64[ns]
 2   user_id         48142 non-null  int64
 3   username        48142 non-null  object
 4   name            48142 non-null  object
 5   tweet           48142 non-null  object
 6   mentions        48142 non-null  int64
 7   urls            48142 non-null  int64
 8   photos          48142 non-null  int64
 9   replies_count   48142 non-null  int64
 10  retweets_count  48142 non-null  int64
 11  likes_count     48142 non-null  int64
 12  hashtags        48142 non-null  int64
 13  cashtags        48142 non-null  int64
 14  quote_url       48142 non-null  int64
 15  video           48142 non-null  int64
 16  thumbnail       48142 non-null  int64
 17  reply_to        48142 non-null  int64
dtypes: datetime64[ns](1), int64(14), object(3)
memory usage: 6.6+ MB

In [51]:
#Analysis of opinion and number of words using the textblob package
for i in range(BH_tweets_during_pandemic_clean.shape[0]):
    blob = TextBlob(BH_tweets_during_pandemic_clean.loc[i, 'tweet'], analyzer=PatternAnalyzer())
    BH_tweets_during_pandemic_clean.loc[i, 'tweet_word_count'] = len(blob.words)
    BH_tweets_during_pandemic_clean.loc[i, 'polarity'] = blob.sentiment[0]
    BH_tweets_during_pandemic_clean.loc[i, 'subjectivity'] = blob.sentiment[1]

In [52]:
BH_tweets_during_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48142 entries, 0 to 48141
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                48142 non-null  int64
 1   date              48142 non-null  datetime64[ns]
 2   user_id           48142 non-null  int64
 3   username          48142 non-null  object
 4   name              48142 non-null  object
 5   tweet             48142 non-null  object
 6   mentions          48142 non-null  int64
 7   urls              48142 non-null  int64
 8   photos            48142 non-null  int64
 9   replies_count     48142 non-null  int64
 10  retweets_count    48142 non-null  int64
 11  likes_count       48142 non-null  int64
 12  hashtags          48142 non-null  int64
 13  cashtags          48142 non-null  int64
 14  quote_url         48142 non-null  int64
 15  video             48142 non-null  int64
 16  thumbnail         48142 non-null  int64
 17  reply_to          48142 non-null  int64
 18  tweet_word_count  48142 non-null  float64
 19  polarity          48142 non-null  float64
 20  subjectivity      48142 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(14), object(3)
memory usage: 7.7+ MB

In [53]:
#Save cleaned data in csv format
BH_tweets_during_pandemic_clean.to_csv('dane/BH_tweets_during_pandemic_clean.csv', index=False)