In [52]:
import pandas as pd
import numpy as np
from textblob import TextBlob
from textblob.sentiments import PatternAnalyzer

In [53]:
BH_tweets_before_pandemic = pd.read_csv('dane/BH_tweets_before_pandemic.csv', lineterminator='\n')

In [54]:
BH_tweets_before_pandemic.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video,near,geo,source,user_rt_id,user_rt,retweet_id,retweet_date,translate,trans_src,trans_dest
count,4.194200e+04,4.194200e+04,41942.0,4.194200e+04,41942.000000,41942.000000,41942.000000,41942.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,1.011567e+18,1.011450e+18,200.0,2.144457e+17,0.166301,0.738043,2.586858,0.299485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.856332e+16,1.925665e+16,0.0,3.784974e+17,5.611189,14.171729,149.405324,0.458038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,9.802449e+17,4.171556e+17,200.0,3.240000e+02,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,9.934337e+17,9.934106e+17,200.0,1.159675e+08,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,1.009675e+18,1.009642e+18,200.0,8.484296e+08,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,1.027687e+18,1.027664e+18,200.0,4.839383e+09,0.000000,0.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,1.046548e+18,1.046548e+18,200.0,1.044284e+18,1092.000000,2350.000000,30265.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
BH_tweets_before_pandemic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41942 entries, 0 to 41941
Data columns (total 36 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               41942 non-null  int64
 1   conversation_id  41942 non-null  int64
 2   created_at       41942 non-null  object
 3   date             41942 non-null  object
 4   time             41942 non-null  object
 5   timezone         41942 non-null  int64
 6   user_id          41942 non-null  int64
 7   username         41942 non-null  object
 8   name             41940 non-null  object
 9   place            431 non-null    object
 10  tweet            41942 non-null  object
 11  language         41942 non-null  object
 12  mentions         41942 non-null  object
 13  urls             41942 non-null  object
 14  photos           41942 non-null  object
 15  replies_count    41942 non-null  int64
 16  retweets_count   41942 non-null  int64
 17  likes_count      41942 non-null  int64
 18  hashtags         41942 non-null  object
 19  cashtags         41942 non-null  object
 20  link             41942 non-null  object
 21  retweet          41942 non-null  bool
 22  quote_url        695 non-null    object
 23  video            41942 non-null  int64
 24  thumbnail        12561 non-null  object
 25  near             0 non-null      float64
 26  geo              0 non-null      float64
 27  source           0 non-null      float64
 28  user_rt_id       0 non-null      float64
 29  user_rt          0 non-null      float64
 30  retweet_id       0 non-null      float64
 31  reply_to         41942 non-null  object
 32  retweet_date     0 non-null      float64
 33  translate        0 non-null      float64
 34  trans_src        0 non-null      float64
 35  trans_dest       0 non-null      float64
dtypes: bool(1), float64(10), int64(8), object(17)
memory usage: 11.2+ MB

In [56]:
BH_tweets_before_pandemic.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1035675683450761217,1035675683450761217,2018-09-01 01:48:19 CEST,2018-09-01,01:48:19,200,27569109,albeesgirl,Staci Rullo,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1035673787356864512,1035673787356864512,2018-09-01 01:40:47 CEST,2018-09-01,01:40:47,200,3296463285,k_val81,Karen Valentine,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1035672623026397184,1035670992448675841,2018-09-01 01:36:09 CEST,2018-09-01,01:36:09,200,2322821784,stevet_140,Steve T,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'NastromKenneth', 'name': 'Ke...",NaN,NaN,NaN,NaN
3,1035669895151738880,1035669895151738880,2018-09-01 01:25:19 CEST,2018-09-01,01:25:19,200,332364947,simonsalhanyre,BHHS Simon & Salhany,"{'type': 'Point', 'coordinates': [41.193133, -...",...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1035668062610116609,1035668062610116609,2018-09-01 01:18:02 CEST,2018-09-01,01:18:02,200,918188324426194944,stand_4_america,Free America Network,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [57]:
#Add date format
BH_tweets_before_pandemic['date'] = pd.to_datetime(BH_tweets_before_pandemic['date'], format = '%Y-%m-%d')

In [58]:
#Remove tweets writeen in other language than english
BH_tweets_before_pandemic_clean = BH_tweets_before_pandemic[BH_tweets_before_pandemic.language == 'en']
BH_tweets_before_pandemic_clean = BH_tweets_before_pandemic_clean.reset_index(drop=True)
BH_tweets_before_pandemic_clean.shape

(39582, 36)

In [59]:
#Remove columns without any data
BH_tweets_before_pandemic_clean = BH_tweets_before_pandemic_clean.dropna(thresh = 1, axis = 1)

In [60]:
#2360 records and 10 columns were removed
BH_tweets_before_pandemic_clean.describe()

,id,conversation_id,timezone,user_id,replies_count,retweets_count,likes_count,video
count,3.958200e+04,3.958200e+04,39582.0,3.958200e+04,39582.000000,39582.000000,39582.000000,39582.000000
mean,1.011660e+18,1.011547e+18,200.0,2.156098e+17,0.166919,0.747208,2.636400,0.301071
std,1.858508e+16,1.929199e+16,0.0,3.791561e+17,5.772845,14.570742,153.785907,0.458729
min,9.802449e+17,4.171556e+17,200.0,3.240000e+02,0.000000,0.000000,0.000000,0.000000
25%,9.934617e+17,9.934551e+17,200.0,1.142742e+08,0.000000,0.000000,0.000000,0.000000
50%,1.009756e+18,1.009722e+18,200.0,8.497621e+08,0.000000,0.000000,0.000000,0.000000
75%,1.027904e+18,1.027888e+18,200.0,4.852194e+09,0.000000,0.000000,0.000000,1.000000
max,1.046548e+18,1.046548e+18,200.0,1.044284e+18,1092.000000,2350.000000,30265.000000,1.000000

In [61]:
BH_tweets_before_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39582 entries, 0 to 39581
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               39582 non-null  int64
 1   conversation_id  39582 non-null  int64
 2   created_at       39582 non-null  object
 3   date             39582 non-null  datetime64[ns]
 4   time             39582 non-null  object
 5   timezone         39582 non-null  int64
 6   user_id          39582 non-null  int64
 7   username         39582 non-null  object
 8   name             39580 non-null  object
 9   place            420 non-null    object
 10  tweet            39582 non-null  object
 11  language         39582 non-null  object
 12  mentions         39582 non-null  object
 13  urls             39582 non-null  object
 14  photos           39582 non-null  object
 15  replies_count    39582 non-null  int64
 16  retweets_count   39582 non-null  int64
 17  likes_count      39582 non-null  int64
 18  hashtags         39582 non-null  object
 19  cashtags         39582 non-null  object
 20  link             39582 non-null  object
 21  retweet          39582 non-null  bool
 22  quote_url        613 non-null    object
 23  video            39582 non-null  int64
 24  thumbnail        11917 non-null  object
 25  reply_to         39582 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(8), object(16)
memory usage: 7.6+ MB

In [62]:
BH_tweets_before_pandemic_clean.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,retweets_count,likes_count,hashtags,cashtags,link,retweet,quote_url,video,thumbnail,reply_to
0,1035675683450761217,1035675683450761217,2018-09-01 01:48:19 CEST,2018-09-01,01:48:19,200,27569109,albeesgirl,Staci Rullo,NaN,...,0,0,[],[],https://twitter.com/AlbeesGirl/status/10356756...,False,NaN,0,NaN,[]
1,1035673787356864512,1035673787356864512,2018-09-01 01:40:47 CEST,2018-09-01,01:40:47,200,3296463285,k_val81,Karen Valentine,NaN,...,0,0,[],[],https://twitter.com/k_val81/status/10356737873...,False,NaN,1,https://pbs.twimg.com/media/Dl9z0haWsAAx769.jpg,[]
2,1035672623026397184,1035670992448675841,2018-09-01 01:36:09 CEST,2018-09-01,01:36:09,200,2322821784,stevet_140,Steve T,NaN,...,0,0,[],[],https://twitter.com/stevet_140/status/10356726...,False,NaN,0,NaN,"[{'screen_name': 'NastromKenneth', 'name': 'Ke..."
3,1035669895151738880,1035669895151738880,2018-09-01 01:25:19 CEST,2018-09-01,01:25:19,200,332364947,simonsalhanyre,BHHS Simon & Salhany,"{'type': 'Point', 'coordinates': [41.193133, -...",...,0,1,[],[],https://twitter.com/SimonSalhanyRE/status/1035...,False,NaN,1,https://pbs.twimg.com/media/Dl9wR-OU0AAgRk-.jpg,[]
4,1035668062610116609,1035668062610116609,2018-09-01 01:18:02 CEST,2018-09-01,01:18:02,200,918188324426194944,stand_4_america,Free America Network,NaN,...,0,0,[],[],https://twitter.com/stand_4_america/status/103...,False,NaN,0,NaN,[]

In [63]:
#Check values of column place
BH_tweets_before_pandemic_clean['place'].value_counts()

{'type': 'Point', 'coordinates': [33.9032486, -84.46694957]}     30
{'type': 'Point', 'coordinates': [36.067886, -115.272926]}       14
{'type': 'Point', 'coordinates': [32.2125, -80.8973]}             9
{'type': 'Point', 'coordinates': [46.8191027, -96.8532566]}       8
{'type': 'Point', 'coordinates': [40.7399954, -74.0301392]}       7
                                                                 ..
{'type': 'Point', 'coordinates': [41.161853, -81.392737]}         1
{'type': 'Point', 'coordinates': [41.402182, -81.666393]}         1
{'type': 'Point', 'coordinates': [41.031502, -81.455609]}         1
{'type': 'Point', 'coordinates': [41.90080112, -87.62461645]}     1
{'type': 'Point', 'coordinates': [41.0138, -81.623595]}           1
Name: place, Length: 279, dtype: int64

In [64]:
#Check values of column quote_url
BH_tweets_before_pandemic_clean['quote_url'].value_counts()

0                                                                 35
https://twitter.com/FoxBusiness/status/1034087310084722690         8
https://twitter.com/coindesk/status/990969761080250371             7
https://twitter.com/statnews/status/1009434526618128385            5
https://twitter.com/Paytm/status/1034363874814963712               4
                                                                  ..
https://twitter.com/ChristensenInst/status/1029653993906221056     1
https://twitter.com/jeffbullas/status/989046478575415296           1
https://twitter.com/gwhite19/status/992836821389201408             1
https://twitter.com/amrishrau/status/1034442348401324032           1
https://twitter.com/YourStoryCo/status/1033956282791866368         1
Name: quote_url, Length: 525, dtype: int64

In [65]:
#Counted quantity of links for each tweet
BH_tweets_before_pandemic_clean['quote_url'] = BH_tweets_before_pandemic_clean['quote_url'].str.count('https://')

#Replayce NaN by 0
BH_tweets_before_pandemic_clean.fillna({'quote_url':0}, inplace=True)

#Changed data type from float64 to int64
BH_tweets_before_pandemic_clean['quote_url'] = BH_tweets_before_pandemic_clean['quote_url'].astype(np.int64)

In [66]:
#Replayce NaN to [] in thumbnail column
BH_tweets_before_pandemic_clean.fillna({'thumbnail':'[]'}, inplace=True)

In [67]:
#There is no NaN except column place which will be removed due to low importance
BH_tweets_before_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39582 entries, 0 to 39581
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               39582 non-null  int64
 1   conversation_id  39582 non-null  int64
 2   created_at       39582 non-null  object
 3   date             39582 non-null  datetime64[ns]
 4   time             39582 non-null  object
 5   timezone         39582 non-null  int64
 6   user_id          39582 non-null  int64
 7   username         39582 non-null  object
 8   name             39580 non-null  object
 9   place            420 non-null    object
 10  tweet            39582 non-null  object
 11  language         39582 non-null  object
 12  mentions         39582 non-null  object
 13  urls             39582 non-null  object
 14  photos           39582 non-null  object
 15  replies_count    39582 non-null  int64
 16  retweets_count   39582 non-null  int64
 17  likes_count      39582 non-null  int64
 18  hashtags         39582 non-null  object
 19  cashtags         39582 non-null  object
 20  link             39582 non-null  object
 21  retweet          39582 non-null  bool
 22  quote_url        39582 non-null  int64
 23  video            39582 non-null  int64
 24  thumbnail        39582 non-null  object
 25  reply_to         39582 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(9), object(15)
memory usage: 7.6+ MB

In [68]:
#Check duplicates
BH_tweets_before_pandemic_clean[BH_tweets_before_pandemic_clean.duplicated(subset = 'id')]

Empty DataFrame
Columns: [id, conversation_id, created_at, date, time, timezone, user_id, username, name, place, tweet, language, mentions, urls, photos, replies_count, retweets_count, likes_count, hashtags, cashtags, link, retweet, quote_url, video, thumbnail, reply_to]
Index: []

[0 rows x 26 columns]

In [69]:
#Column retweet consist of only False values
BH_tweets_before_pandemic_clean['retweet'].value_counts()

False    39582
Name: retweet, dtype: int64

In [70]:
#Removed irrelevant columns
BH_tweets_before_pandemic_clean = BH_tweets_before_pandemic_clean.drop(['conversation_id', 
                                                                        'created_at', 'time', 'timezone', 
                                                                        'language', 'retweet', 'link','place'], 
                                                                       axis = 1)

In [71]:
#Counted number of elements stored as lists in columns
columns_lists = ['mentions', 'urls', 'photos', 'hashtags', 'cashtags', 'thumbnail']
for column in columns_lists:
    empty_list = BH_tweets_before_pandemic_clean[column] == '[]'
    BH_tweets_before_pandemic_clean[column] = BH_tweets_before_pandemic_clean[column].str[1:-1].str.split(',')
    BH_tweets_before_pandemic_clean[column] = BH_tweets_before_pandemic_clean[column].str.len()
    BH_tweets_before_pandemic_clean.loc[empty_list, column] = 0

In [72]:
#Counted number of elements in dictionaries stored in reply_to column
BH_tweets_before_pandemic_clean['reply_to'] = BH_tweets_before_pandemic_clean['reply_to'].str.count('{')

#Changed data type from float64 to int64
BH_tweets_before_pandemic_clean['reply_to'] = BH_tweets_before_pandemic_clean['reply_to'].astype(np.int64)

In [73]:
BH_tweets_before_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39582 entries, 0 to 39581
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              39582 non-null  int64
 1   date            39582 non-null  datetime64[ns]
 2   user_id         39582 non-null  int64
 3   username        39582 non-null  object
 4   name            39580 non-null  object
 5   tweet           39582 non-null  object
 6   mentions        39582 non-null  int64
 7   urls            39582 non-null  int64
 8   photos          39582 non-null  int64
 9   replies_count   39582 non-null  int64
 10  retweets_count  39582 non-null  int64
 11  likes_count     39582 non-null  int64
 12  hashtags        39582 non-null  int64
 13  cashtags        39582 non-null  int64
 14  quote_url       39582 non-null  int64
 15  video           39582 non-null  int64
 16  thumbnail       39582 non-null  int64
 17  reply_to        39582 non-null  int64
dtypes: datetime64[ns](1), int64(14), object(3)
memory usage: 5.4+ MB

In [74]:
#Analysis of opinion and number of words using the textblob package
for i in range(BH_tweets_before_pandemic_clean.shape[0]):
    blob = TextBlob(BH_tweets_before_pandemic_clean.loc[i, 'tweet'], analyzer=PatternAnalyzer())
    BH_tweets_before_pandemic_clean.loc[i, 'tweet_word_count'] = len(blob.words)
    BH_tweets_before_pandemic_clean.loc[i, 'polarity'] = blob.sentiment[0]
    BH_tweets_before_pandemic_clean.loc[i, 'subjectivity'] = blob.sentiment[1]

In [75]:
BH_tweets_before_pandemic_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39582 entries, 0 to 39581
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                39582 non-null  int64
 1   date              39582 non-null  datetime64[ns]
 2   user_id           39582 non-null  int64
 3   username          39582 non-null  object
 4   name              39580 non-null  object
 5   tweet             39582 non-null  object
 6   mentions          39582 non-null  int64
 7   urls              39582 non-null  int64
 8   photos            39582 non-null  int64
 9   replies_count     39582 non-null  int64
 10  retweets_count    39582 non-null  int64
 11  likes_count       39582 non-null  int64
 12  hashtags          39582 non-null  int64
 13  cashtags          39582 non-null  int64
 14  quote_url         39582 non-null  int64
 15  video             39582 non-null  int64
 16  thumbnail         39582 non-null  int64
 17  reply_to          39582 non-null  int64
 18  tweet_word_count  39582 non-null  float64
 19  polarity          39582 non-null  float64
 20  subjectivity      39582 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(14), object(3)
memory usage: 6.3+ MB

In [76]:
#Save cleaned data in csv format
BH_tweets_before_pandemic_clean.to_csv('dane/BH_tweets_before_pandemic_clean.csv', index=False)