In [1]:
#Download data by using twint
#Data on Berkshire hathaway before pandemic were downloaded by comands typed in terminal:
#twint -s "Berkshire hataway" --csv -o BH_tweets_before_pandemic_part1.csv --since 2018-07-01 --until 2018-10-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_before_pandemic_part2.csv --since 2018-04-01 --until 2018-07-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_before_pandemic_part3.csv --since 2018-01-01 --until 2018-04-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_before_pandemic_part4.csv --since 2017-10-01 --until 2018-01-01

#during pandemic:
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_pandemic_part1.csv --since 2020-07-01 --until 2020-10-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_pandemic_part2.csv --since 2020-04-01 --until 2020-07-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_pandemic_part3.csv --since 2020-01-01 --until 2020-04-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_pandemic_part4.csv --since 2019-10-01 --until 2020-01-01

#during war:
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_war_part1.csv --since 2022-03-08 --until 2022-04-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_war_part2.csv --since 2022-02-23 --until 2022-03-09
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_war_part3.csv --since 2022-02-23 --until "2022-02-23 11:05:00"
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_war_part4.csv --since 2021-11-23 --until "2022-02-23 06:17:00"
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_war_part5.csv --since 2021-09-01 --until 2021-11-24
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_war_part6.csv --since 2021-06-01 --until 2021-09-01
#twint -s "Berkshire hataway" --csv -o BH_tweets_during_war_part7.csv --since 2021-04-01 --until 2021-06-01

In [10]:
import pandas as pd
import sqlite3 as sql
#Merged parts of tweets about Berkshire hathaway before pandemic

BH_tweets_before_pandemic_part1 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_before_pandemic_part1.csv', sep = '\t')
BH_tweets_before_pandemic_part2 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_before_pandemic_part2.csv', sep = '\t')
BH_tweets_before_pandemic_part3 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_before_pandemic_part3.csv', sep = '\t')
BH_tweets_before_pandemic_part4 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_before_pandemic_part4.csv', sep = '\t')





con = sql.connect('example.db')
BH_tweets_before_pandemic_part1.to_sql('BH_tweets_before_pandemic_part1', con, if_exists='replace')
BH_tweets_before_pandemic_part2.to_sql('BH_tweets_before_pandemic_part2', con, if_exists='replace')
BH_tweets_before_pandemic_part3.to_sql('BH_tweets_before_pandemic_part3', con, if_exists='replace')
BH_tweets_before_pandemic_part4.to_sql('BH_tweets_before_pandemic_part4', con, if_exists='replace')

BH_tweets_before_pandemic = pd.read_sql("SELECT * FROM BH_tweets_before_pandemic_part1 UNION SELECT * FROM BH_tweets_before_pandemic_part2 UNION SELECT * FROM BH_tweets_before_pandemic_part3 UNION SELECT * FROM BH_tweets_before_pandemic_part4;", con)


BH_tweets_before_pandemic.to_sql('BH_tweets_before_pandemic', con, if_exists='replace', index = False)

BH_tweets_before_pandemic

,index,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,947604334589763584,947604334589763584,2018-01-01 00:04:13 CET,2018-01-01,00:04:13,200,788822298837020672,amadvisorsllc,American Advisors,...,None,None,None,None,None,[],None,None,None,None
1,0,980211275224502272,980211275224502272,2018-04-01 00:32:34 CEST,2018-04-01,00:32:34,200,331359565,mannyalfelor,Manny Alfelor,...,None,None,None,None,None,[],None,None,None,None
2,0,1015169318764417024,1015169318764417024,2018-07-06 11:43:21 CEST,2018-07-06,11:43:21,200,15804491,godoolally,Doolally,...,None,None,None,None,None,[],None,None,None,None
3,0,1035675683450761217,1035675683450761217,2018-09-01 01:48:19 CEST,2018-09-01,01:48:19,200,27569109,albeesgirl,Staci Rullo,...,None,None,None,None,None,[],None,None,None,None
4,1,947599778044510208,947599778044510208,2017-12-31 23:46:07 CET,2017-12-31,23:46:07,200,935962996068769795,mcgeesold,Valerie McGee,...,None,None,None,None,None,[],None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81422,29596,947671655190618112,947671655190618112,2018-01-01 04:31:44 CET,2018-01-01,04:31:44,200,613962694,karismalife212,Pauley4real,...,None,None,None,None,None,[],None,None,None,None
81423,29597,947670127272714240,947670127272714240,2018-01-01 04:25:39 CET,2018-01-01,04:25:39,200,100317294,bhhsblake,GoodtoKnow RealtorsÂ®,...,None,None,None,None,None,[],None,None,None,None
81424,29598,947641297774546944,947641297774546944,2018-01-01 02:31:06 CET,2018-01-01,02:31:06,200,728722011891978240,biz_guidance,Business Insights,...,None,None,None,None,None,[],None,None,None,None
81425,29599,947625924266164226,947625924266164226,2018-01-01 01:30:01 CET,2018-01-01,01:30:01,200,23138585,cftex,Linda Peters,...,None,None,None,None,None,[],None,None,None,None
81426,29600,947624306443513857,947617497712340992,2018-01-01 01:23:35 CET,2018-01-01,01:23:35,200,14249506,decadmus,deCadmus,...,None,None,None,None,None,"[{'screen_name': 'mercurek', 'name': 'Kristen ...",None,None,None,None

In [12]:
#Merged parts of tweets about Berkshire hathaway during pandemic

BH_tweets_during_pandemic_part1 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_pandemic_part1.csv', sep = '\t')
BH_tweets_during_pandemic_part2 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_pandemic_part2.csv', sep = '\t')
BH_tweets_during_pandemic_part3 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_pandemic_part3.csv', sep = '\t')
BH_tweets_during_pandemic_part4 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_pandemic_part4.csv', sep = '\t')

con = sql.connect('example.db')
BH_tweets_during_pandemic_part1.to_sql('BH_tweets_during_pandemic_part1', con, if_exists='replace')
BH_tweets_during_pandemic_part2.to_sql('BH_tweets_during_pandemic_part2', con, if_exists='replace')
BH_tweets_during_pandemic_part3.to_sql('BH_tweets_during_pandemic_part3', con, if_exists='replace')
BH_tweets_during_pandemic_part4.to_sql('BH_tweets_during_pandemic_part4', con, if_exists='replace')

BH_tweets_during_pandemic = pd.read_sql("SELECT * FROM BH_tweets_during_pandemic_part1 UNION SELECT * FROM BH_tweets_during_pandemic_part2 UNION SELECT * FROM BH_tweets_during_pandemic_part3 UNION SELECT * FROM BH_tweets_during_pandemic_part4;", con)


BH_tweets_during_pandemic.to_sql('BH_tweets_during_pandemic', con, if_exists='replace', index = False)

BH_tweets_during_pandemic

,index,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1212160894538522626,1212160894538522626,2020-01-01 00:57:32 CET,2020-01-01,00:57:32,200,770132725068103680,hernandezchi1,The HernÃ¡ndez Chicago Group,...,None,None,None,None,None,[],None,None,None,None
1,0,1245136282444947457,1245136282444947457,2020-04-01 01:49:57 CEST,2020-04-01,01:49:57,200,23443250,shellinovotny,Shelli Novotny,...,None,None,None,None,None,[],None,None,None,None
2,0,1278115609407094784,1278115609407094784,2020-07-01 01:58:02 CEST,2020-07-01,01:58:02,200,97716850,hoyehometeam,Hoye Home Team - Berkshire Hathaway Agents,...,None,None,None,None,None,[],None,None,None,None
3,0,1311454882008891393,1311454882008891393,2020-10-01 01:56:24 CEST,2020-10-01,01:56:24,200,1262819762662301696,sells_san,SueSellsSanDiego,...,None,None,None,None,None,[],None,None,None,None
4,1,1212160711574601733,1151613069480615937,2020-01-01 00:56:49 CET,2020-01-01,00:56:49,200,101098391,ladydog44,ðð£DIANEð¤ðð¥âð·ð°ð¥âï¸ð ð¶â¤â®ðºð²âðºð¦ð2-22-22,...,None,None,None,None,None,"[{'screen_name': 'Winkleman', 'name': '#LinkWi...",None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66172,20949,1245167367195447298,1245140269252608001,2020-04-01 03:53:29 CEST,2020-04-01,03:53:29,200,1466308608,legalbeagle1215,Samantha,...,None,None,None,None,None,"[{'screen_name': 'AmyBroughton613', 'name': 'A...",None,None,None,None
66173,20950,1245164445564899334,1245164445564899334,2020-04-01 03:41:52 CEST,2020-04-01,03:41:52,200,141988859,yusufdhorat_,Yusuf Dhorat,...,None,None,None,None,None,[],None,None,None,None
66174,20951,1245149030709149698,1245149030709149698,2020-04-01 02:40:37 CEST,2020-04-01,02:40:37,200,2804941345,sepebrahimi,Sep Ebrahimi - Berkshire Hathaway Home Services,...,None,None,None,None,None,[],None,None,None,None
66175,20952,1245142853640224769,1245137874519023616,2020-04-01 02:16:04 CEST,2020-04-01,02:16:04,200,2554627003,albertointernet,Alberto Bengoa ðºð³,...,None,None,None,None,None,"[{'screen_name': 'JoseMarquezSEO', 'name': 'Jo...",None,None,None,None
66176,20953,1245138896004042754,1245138896004042754,2020-04-01 02:00:21 CEST,2020-04-01,02:00:21,200,984538659234828289,paulfrinkbhhs,Berkshire Hathaway HomeServices NW - Federal Way,...,None,None,None,None,None,[],None,None,None,None

In [14]:
#Merged parts of tweets about Berkshire hathaway during war

BH_tweets_during_war_part1 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_war_part1.csv', sep = '\t')
BH_tweets_during_war_part2 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_war_part2.csv', sep = '\t')
BH_tweets_during_war_part3 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_war_part3.csv', sep = '\t')
BH_tweets_during_war_part4 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_war_part4.csv', sep = '\t')
BH_tweets_during_war_part5 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_war_part5.csv', sep = '\t')
BH_tweets_during_war_part6 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_war_part6.csv', sep = '\t')
BH_tweets_during_war_part7 = pd.read_csv('C:/Users/ll/Desktop/dane/BH_tweets_during_war_part7.csv', sep = '\t')

con = sql.connect('example.db')
BH_tweets_during_war_part1.to_sql('BH_tweets_during_war_part1', con, if_exists='replace')
BH_tweets_during_war_part2.to_sql('BH_tweets_during_war_part2', con, if_exists='replace')
BH_tweets_during_war_part3.to_sql('BH_tweets_during_war_part3', con, if_exists='replace')
BH_tweets_during_war_part4.to_sql('BH_tweets_during_war_part4', con, if_exists='replace')
BH_tweets_during_war_part5.to_sql('BH_tweets_during_war_part5', con, if_exists='replace')
BH_tweets_during_war_part6.to_sql('BH_tweets_during_war_part6', con, if_exists='replace')
BH_tweets_during_war_part7.to_sql('BH_tweets_during_war_part7', con, if_exists='replace')

BH_tweets_during_war = pd.read_sql("SELECT * FROM BH_tweets_during_war_part1 UNION SELECT * FROM BH_tweets_during_war_part2 UNION SELECT * FROM BH_tweets_during_war_part3 UNION SELECT * FROM BH_tweets_during_war_part4 UNION SELECT * FROM BH_tweets_during_war_part5 UNION SELECT * FROM BH_tweets_during_war_part6 UNION SELECT * FROM BH_tweets_during_war_part7;", con)


BH_tweets_during_war.to_sql('BH_tweets_during_war', con, if_exists='replace', index = False)

BH_tweets_during_pandemic

,index,id,conversation_id,created_at,date,time,timezone,user_id,username,name,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,0,1212160894538522626,1212160894538522626,2020-01-01 00:57:32 CET,2020-01-01,00:57:32,200,770132725068103680,hernandezchi1,The HernÃ¡ndez Chicago Group,...,None,None,None,None,None,[],None,None,None,None
1,0,1245136282444947457,1245136282444947457,2020-04-01 01:49:57 CEST,2020-04-01,01:49:57,200,23443250,shellinovotny,Shelli Novotny,...,None,None,None,None,None,[],None,None,None,None
2,0,1278115609407094784,1278115609407094784,2020-07-01 01:58:02 CEST,2020-07-01,01:58:02,200,97716850,hoyehometeam,Hoye Home Team - Berkshire Hathaway Agents,...,None,None,None,None,None,[],None,None,None,None
3,0,1311454882008891393,1311454882008891393,2020-10-01 01:56:24 CEST,2020-10-01,01:56:24,200,1262819762662301696,sells_san,SueSellsSanDiego,...,None,None,None,None,None,[],None,None,None,None
4,1,1212160711574601733,1151613069480615937,2020-01-01 00:56:49 CET,2020-01-01,00:56:49,200,101098391,ladydog44,ðð£DIANEð¤ðð¥âð·ð°ð¥âï¸ð ð¶â¤â®ðºð²âðºð¦ð2-22-22,...,None,None,None,None,None,"[{'screen_name': 'Winkleman', 'name': '#LinkWi...",None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66172,20949,1245167367195447298,1245140269252608001,2020-04-01 03:53:29 CEST,2020-04-01,03:53:29,200,1466308608,legalbeagle1215,Samantha,...,None,None,None,None,None,"[{'screen_name': 'AmyBroughton613', 'name': 'A...",None,None,None,None
66173,20950,1245164445564899334,1245164445564899334,2020-04-01 03:41:52 CEST,2020-04-01,03:41:52,200,141988859,yusufdhorat_,Yusuf Dhorat,...,None,None,None,None,None,[],None,None,None,None
66174,20951,1245149030709149698,1245149030709149698,2020-04-01 02:40:37 CEST,2020-04-01,02:40:37,200,2804941345,sepebrahimi,Sep Ebrahimi - Berkshire Hathaway Home Services,...,None,None,None,None,None,[],None,None,None,None
66175,20952,1245142853640224769,1245137874519023616,2020-04-01 02:16:04 CEST,2020-04-01,02:16:04,200,2554627003,albertointernet,Alberto Bengoa ðºð³,...,None,None,None,None,None,"[{'screen_name': 'JoseMarquezSEO', 'name': 'Jo...",None,None,None,None
66176,20953,1245138896004042754,1245138896004042754,2020-04-01 02:00:21 CEST,2020-04-01,02:00:21,200,984538659234828289,paulfrinkbhhs,Berkshire Hathaway HomeServices NW - Federal Way,...,None,None,None,None,None,[],None,None,None,None